In [6]:
import numpy
import pandas as pd

numpy.savetxt("foo.csv", numpy.array(range(0,10)), delimiter=",")
df = pd.read_csv("smalldata/anomaly/single_blob.csv", header=None)
df2 = pd.read_csv("smalldata/anomaly/single_blob.csv", header=None)

In [25]:
df = pd.concat([df, df], axis=1)
df

,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
0,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,...,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000,3.300000
1,-0.528172,-1.072969,-0.528172,-1.072969,-0.528172,-1.072969,-0.528172,-1.072969,-0.528172,-1.072969,...,-0.528172,-1.072969,-0.528172,-1.072969,-0.528172,-1.072969,-0.528172,-1.072969,-0.528172,-1.072969
2,0.865408,-2.301539,0.865408,-2.301539,0.865408,-2.301539,0.865408,-2.301539,0.865408,-2.301539,...,0.865408,-2.301539,0.865408,-2.301539,0.865408,-2.301539,0.865408,-2.301539,0.865408,-2.301539
3,1.744812,-0.761207,1.744812,-0.761207,1.744812,-0.761207,1.744812,-0.761207,1.744812,-0.761207,...,1.744812,-0.761207,1.744812,-0.761207,1.744812,-0.761207,1.744812,-0.761207,1.744812,-0.761207
4,0.319039,-0.249370,0.319039,-0.249370,0.319039,-0.249370,0.319039,-0.249370,0.319039,-0.249370,...,0.319039,-0.249370,0.319039,-0.249370,0.319039,-0.249370,0.319039,-0.249370,0.319039,-0.249370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.160565,-0.120150,0.160565,-0.120150,0.160565,-0.120150,0.160565,-0.120150,0.160565,-0.120150,...,0.160565,-0.120150,0.160565,-0.120150,0.160565,-0.120150,0.160565,-0.120150,0.160565,-0.120150
496,0.385602,0.718291,0.385602,0.718291,0.385602,0.718291,0.385602,0.718291,0.385602,0.718291,...,0.385602,0.718291,0.385602,0.718291,0.385602,0.718291,0.385602,0.718291,0.385602,0.718291
497,1.291189,-0.116444,1.291189,-0.116444,1.291189,-0.116444,1.291189,-0.116444,1.291189,-0.116444,...,1.291189,-0.116444,1.291189,-0.116444,1.291189,-0.116444,1.291189,-0.116444,1.291189,-0.116444
498,-2.277298,-0.069625,-2.277298,-0.069625,-2.277298,-0.069625,-2.277298,-0.069625,-2.277298,-0.069625,...,-2.277298,-0.069625,-2.277298,-0.069625,-2.277298,-0.069625,-2.277298,-0.069625,-2.277298,-0.069625
499,0.353870,-0.186955,0.353870,-0.186955,0.353870,-0.186955,0.353870,-0.186955,0.353870,-0.186955,...,0.353870,-0.186955,0.353870,-0.186955,0.353870,-0.186955,0.353870,-0.186955,0.353870,-0.186955

In [26]:
df.to_csv("smalldata/anomaly/single_blob_2.csv", header = None, index = False)

In [9]:
import numpy as np
dim = X.shape[1]
exlevel = 1
idxs = np.random.choice(range(dim), dim-exlevel-1, replace=False)
n = np.random.normal(0,1,dim)                         
n[idxs] = 0
print(n)
print((X-np.array([1,1])).shape)


(X-np.array([1,1])).dot(np.array([1,1])).shape

[ 0.00799502 -0.27031497]
(500, 2)

(500,)

In [8]:
mean = [0, 0]
cov = [[1, 0], [0, 1]]  # diagonal covariance
Nobjs = 500
np.random.seed(1)
x, y = np.random.multivariate_normal(mean, cov, Nobjs).T
#Add manual outlier
x[0]=3.3
y[0]=3.3
X=np.array([x,y]).T

In [93]:
df = pd.DataFrame(np.array([[1,1]]))

In [106]:
df = df.append(df)
df

    0  1
0   1  1
0   1  1
0   1  1
0   1  1
0   1  1
.. .. ..
0   1  1
0   1  1
0   1  1
0   1  1
0   1  1

[8192 rows x 2 columns]

In [107]:
df.to_csv("smalldata/anomaly/const2.csv", header = None, index = False)